:root {
  --twitter   : #43bdef;
  --background: #282c34;
  --light     : #e6ecf0;
  --user-img  : 48px;
}

html {
  box-sizing : border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
}

html,
body,
#root {
  height: 100%;
}

#root {
  position : relative;
  display  : flex;
  flex-flow: column;
}

.app {
  background-color: var(--light);
  line-height     : 1.2;
  height          : 100vh;
}

.header {
  padding: .3rem 1rem;
}

.header__title {
  display    : inline-flex;
  align-items: center;
}

.header__title::after {
  content   : "";
  display   : block;
  height    : 2px;
  background: var(--light);
  position  : absolute;
  width     : 298px;
  bottom    : 0;
}

.header__icon-container {
  border         : 2px solid var(--light);
  border-radius  : 100%;
  height         : 35px;
  width          : 35px;
  display        : inline-flex;
  margin         : auto 8px;
  justify-content: center;
  align-items    : center;
  background     : var(--twitter)
}

.landing {
  background-color: var(--background);
  color           : var(--light);
  padding         : .4rem 2rem 1rem;
  position        : relative;
  margin-bottom   : 1rem;
}

.landing__container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  min-height     : 450px;
  margin         : 0 auto;
  max-width      : 800px;
  position       : relative;
  overflow       : hidden;
}

.landing__content {
  z-index  : 1;
  animation: scale-in-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-in-center {

  0%,
  50% {
    -webkit-transform: translateY(50px);
    transform        : translateY(50px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform        : translateY(0);
    opacity          : 1;
  }
}

@keyframes slide-in-bck-left {

  0%,
  50% {
    -webkit-transform: translateZ(350px) translateX(-200px);
    transform        : translateZ(350px) translateX(-200px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform        : translateZ(0) translateX(0);
    opacity          : 1;
  }
}


.landing__background {
  position : absolute;
  animation: slide-in-left 1s ease-out;
  height   : 100%;
  width    : inherit;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px) rotate(35deg) scale(.8);
    transform        : translateX(-500px) rotate(35deg) scale(.8);
    opacity          : 0;
  }

  50% {
    -webkit-transform: translateX(0) rotate(35deg) scale(.8);
    transform        : translateX(0) rotate(35deg) scale(.8);
    opacity          : 1;
  }

  100% {
    transform: rotate(0deg);
  }
}

.landing__content-title {
  color         : var(--twitter);
  font-weight   : 700;
  font-size     : 3rem;
  margin        : 0;
  letter-spacing: 2px;
}

.landing__appName {
  font-size: 3.4rem;
  display  : inline-block;
}

.landing__content-text {
  font-size     : 1.5rem;
  line-height   : 2.6rem;
  margin-top    : 2.6rem;
  letter-spacing: 1.2px;
  z-index       : 1;
}

.landing__button {
  font-size: 1.5rem;
  padding  : .375rem 1.375rem;
}

.landing__button-icon {
  margin-left: .5rem;
}

.landing__icon-happy {
  animation: rotate-icon 0.5s ease-out infinite alternate;
}

.landing__icon-pulsate {
  margin-left: .5rem;
  animation  : pulsate-icon 0.5s ease-in-out infinite both;
}

@keyframes rotate-icon {
  0% {
    transform: translateY(0);
  }

  60%,
  80%,
  100% {
    transform: translateY(-8px);
  }

  70% {
    transform: translateY(-8px) rotate(-30deg);
  }

  90% {
    transform: translateY(-8px) rotate(30deg);
  }
}

@keyframes pulsate-icon {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.landing__bottom {
  display: flex;
  width  : 83%;
  margin : 0 auto 1rem auto;
}

.landing__bottom-item {
  flex-grow       : 1;
  height          : 70px;
  background-color: rgba(0, 0, 0, .1);
  border-radius   : 5px;
  margin          : auto 10px;
}

.main-container {
  background : var(--background);
  height     : 100%;
  padding-top: .8rem;
  color      : var(--light);
}

.card-user__header {
  height    : 95px;
  background: var(--twitter);
}

.card-user__img {
  display      : flex;
  background   : var(--light);
  border-radius: 100%;
  border       : solid var(--light) 3px;
  margin       : -5rem auto .3rem;
  max-width    : 100px;
  height       : 100px;
}

.card-user__username {
  background: var(--twitter);
  color: var(--background);
}
.card-user__username::before{
  content: "@";
  text-decoration: none !important;
}
.card-user__username:hover{
  cursor: pointer;
  opacity: .8;
  text-decoration: underline;
}

.welcome-box {
  /* align-items: center; */
  text-align    : center;
}

.welcome-box__img {
  height: 25em;
  width : auto;
}

.welcome-box__title {
  margin-top: 0;
}

.welcome-box__footer {
  width     : 100%;
  text-align: center;
}


/*USER LOGED*/

.main-container--loged {
  display              : grid;
  grid-template-columns: 33.3% auto;
}

.user-data {
  padding-left: .9em;
  padding-top : 2em;
  display     : flex;
}

.user-data .user-data__profile {
  border: 3px solid #fff;
}

.user-data__profile {
  background: #fff;
  max-width : var(--user-img);
  max-height: var(--user-img);
  height    : auto;
}

.user-data__profile,
.user-data__img {
  border-radius: 50%;
}

.user-data__title a {
  text-decoration: none;
}

.user-data__full-name,
.user-data__full-name a {
  color        : var(--dark);
  margin-left  : .1em;
  margin-right : .5em;
  margin-bottom: .1em;
  font-weight  : 700;
}

.user-data__user-name,
.user-data__user-name a {
  color      : #657786;
  margin     : .1em;
  font-weight: 500;
}

.user-data__user-name::before {
  content: '@';
}

.user-data__title a:hover {
  text-decoration: underline;
}

.tweet-container {
  border-radius   : 5px;
  background-color: #fff;
  border          : 1px solid #e6ecf0;
  padding         : 13px 15px 15px;
  display         : flex;
}

.tweet-header-data {
  display    : flex;
  align-items: baseline;
}

.tweet-content {
  padding-left: .8em;
}

.tweet-text {
  margin   : 0;
  font-size: 21px;
}